
.renbox{
    margin-top: 50px;
    padding: 20px;
    // height: 85vh;
 
}
.contents{
   
}
.box{
    background: rgb(0, 128, 38);
    width: 80%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    line-height: 50px;
}
.conbox{
    width: 80%;
    margin: 0 auto;
}
.siderbox{
    color: #fff;
    text-align: center;
}
.siderbox ul li {
    width: 60%;
    margin:  20px auto;
    line-height: 40px;
    background: greenyellow;
    border: 1px solid #000;
    border-radius: 10px;

}