.Libox {
    width: 50%;
    margin: 20px auto;
    background: palegreen;
}

.Libox ul li {
    line-height: 30px;
    color: #fff;
}

.ul2 {
    margin-left: 2em;
}

.show {
    display: block;
}

.none {
    display: none;
}